/* Bordered form */
form {
  font-size: larger;
  color: black;
}

.formcontainer {
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  top: 100px;
}

input[type="email"],
input[type="psw"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
